<%= form_tag seas_path do %>
<label>Seas Form</label><br>
<label>Name:</label>
<%= text_field_tag :'name'%><br>
<label>Temperature:</label>
<%= text_field_tag :'temperature'%><br>
<label>Bio:</label>
<%= text_field_tag :'bio'%><br>
<label>Image_Url:</label>
<%= text_field_tag :'image_url'%><br>
<label>Mood:</label>
<%= text_field_tag :'mood'%><br>
<label>Favorite Color:</label>
<%= text_field_tag :'favorite_color'%><br>
<label>Scariest Creature:</label>
<%= text_field_tag :'scariest_creature'%><br>
<label>Has Mermaids:</label>
<%= check_box_tag :'has_mermaids'%><br>
<%=submit_tag "Submit Sea"%>
<% end %>
